.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}

.header__icon {
  object-fit: contain;
  height: 40px !important;
  margin: 20px;
}
.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 999px;
}
.header__center > input {
  background-color: white;
  border: none;
  width: 250px;
  padding: 5px;
  outline-width: 0px; /* clear outline */
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  margin-right: 80px;
}
